footer {
    background-color: #464646;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2.5vh auto;
}

span {
    color: white;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}