* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(70, 70, 70);
    padding: 20px;
    width: 100%;
    height: 20vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header > div {
    height: 80%;
    width: 100%;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

header > div > h1 {
    color: greenyellow;
    font-size: 5vw;
    display: inline;
}

header > div > img {
    width: auto;
    height: 200%;
}