a {
    color: white;
    background-color: #674108;
    text-decoration: none;
    padding: 1.5vh 10vw;
    border-radius: 2vw;
    margin: 1.5vh auto;
    font-size: 1.25vw;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 1);
}